footer {
    padding-top: 4rem;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(../../images/monitoring.jpg);
    background-position: 17% 0%;

    @include media-breakpoint-up(sm) {
        background-size: cover;
        
     }

    .form {
        margin-bottom: 4rem;
        margin-top:5rem;

        @include media-breakpoint-up(lg) {
           margin-top: 1rem;
        }
    }

    /*CONTACT FORM
    ****************************************/
    .formulario {
        margin: auto;
        background-image: linear-gradient(rgb(255 255 255 / 16%), rgb(255 255 255 / 16%)); 
        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;
        padding: 4rem 1.3rem;
        border-radius: 1rem;
        @include media-breakpoint-up(lg) {
            padding: 4rem 2rem;
        }
    
        .error-msg {
            color: #f00000;
            font-size: 14px;
            padding-top: 5px;
            display: none;
    
            &.visible {
                display: block;
            }
        }
    
        .form-group {
            margin: auto;
            margin-bottom: 2.2rem;
            width: 85%;
                @include media-breakpoint-up(md) {
                    width: 88%;
                }
                @include media-breakpoint-up(lg) {
                    width: 92%;
                }

    
            .form-control,
            .form-select {
                border-radius: 0.6rem;
                padding: .8rem 1rem;
                font-size: 1.6rem;
                &:focus {
                    outline: 3px solid $color-blue-light;
                    outline-offset: -2px;
                    box-shadow: none;
                }
            }

            .form-select {
                option {
                    &:nth-child(1) {
                        @include media-breakpoint-down(lg) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
    
            textarea {
                height: 178px;
    
            }

            .captcha{
                width: 100%;
                overflow: hidden;



                .g-recaptcha{
                    display: inline;
                }
            }
    
        }

        .botonform{
            width: 85%;
            margin: auto;

            .btn{
                min-width: 180px;

                &:disabled{
                    background-color: $color-marca;
                    color: rgb(130, 130, 130);

                }
               
            }
            
        }
        
    
        // .captcha{
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     gap: 1rem;
        //     flex-direction: column;
        //     width: 100%;

        //     @include media-breakpoint-up(sm) {
        //         flex-direction: row;
        //         row-gap: 3rem;
        //         justify-content: flex-start;
        //      }



        //     #recaptcha{
        //         color:white;
             
        //     }

        //     #respuesta {
        //         width: 80%;
        //         border: none;
        //         border-radius: 0.6rem;
        //         text-align: center;

        //         @include media-breakpoint-up(sm) {
        //            width: 20rem;
        //          }

        //     }
        //     i{
        //         font-size: 2.2rem;
        //         color:white

        //     }
            
           
        // }
    }
    
    
    .logo-footer {
        margin-top: 4rem;
    }
    
    
    .redes {
            color: white;

        h3{
            text-align: center;
            font-size: 3rem;
            &::after{
                display: none;
            }
        }
        .social-links {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 3rem 0;
    
            li {
                margin-right: 1.6rem;
    
                @include media-breakpoint-up(md) {
                    margin-right: 2rem;
                }

    
                &:last-child {
                    margin: 0;
                }
    
                a {
                    width: 4rem;
                    height: 4rem;
                    line-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $color-menu;
                    color: #fff;
                    border-radius: 50%;
                    text-decoration: none;
    
                    &:hover {
                        background-color: $color-marca;
                        transform: translateY(-0.5rem);
                    }
    
                    i {
                        font-size: 2.4rem;
                    }
                }
            }
        }
    
    }
    .info{
        color: white;
        padding-top: 2rem;
        text-align: center;

        @include media-breakpoint-up(sm) {
            width: 50%;
            margin: auto;
            text-align: left;
        }


        h4{
            
            i{
                text-decoration: none;
                margin-right:0.7rem;
                font-size: 2.1rem;
            }
        }

        h5{
            text-decoration: underline;
            
            @include media-breakpoint-up(sm) {
                margin-left: 3rem;
            }
        }

        a{
            display: block;
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
            &:hover{
               color: rgb(202, 150, 150);
               
                
            }

            @include media-breakpoint-up(sm) {
                margin-left: 3rem;
            }
        }
    }
    
    .copyright {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        background-color: rgb(0, 0, 0);
        color: white;
        height: 50px;
        .copy {
            margin: 0;
            padding: 0 5rem;
            text-align: center;
        }
    
    }
    
    .footer-widget {
        position: fixed;
        left: 2rem;
        bottom: 1.5rem;
        z-index: 100;
        animation: bounce-in-top 1.1s linear 1.2s both, scaleit 1.8s linear 4s infinite;
        transition: all ease .6s;
        
       

            @include media-breakpoint-up(sm) {
                animation: bounce-in-top 1.1s linear 1.2s both;

            
            }

            @include media-breakpoint-up(lg) {
                &:hover {
                    scale: 1.2;
                }
            }
    
        a{    
            img {
                width: 50px;
                @include media-breakpoint-up(md) {
                    width: 70px;
                }

                
            }
        }
    }
    
    .back-to-top {
        position: fixed;
        right: 1.6rem;
        bottom: 2.3rem;
        transition: all .3s ease-in-out;
        background-color: $color-marca;
        width: 4rem;
        height: 4rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        text-decoration: none;
        z-index: 5;
    
        @include media-breakpoint-up(lg) {
            &:hover {
               
                i {
                    scale: 1.5;
                }
            }
        }
    
        i {
            font-size: 2.2rem;
            color: white;
            transition: all 0.3s ease;
        }
    }
}

