.micro_tipos , .micro_montaje{

   
    
    ul {
        list-style: none;

        i{
            font-size: 1.9rem;
            color:$color-menu;
            margin-right: 0.5rem;
        }
    }
}

.section1 {
    
    // background-image: linear-gradient( rgb(255 255 255 / 50%), rgba(129, 78, 23, 0.35) ),url(../../images/fondo4.jpg);
    background-image: linear-gradient(182deg,rgba(255, 255, 255, 40%), rgba(129, 78, 23, 30%)), url(../../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 7% 50%;
        @include media-breakpoint-up(sm){
            background-position: center;
            height: auto;
        }
        @include media-breakpoint-up(lg){
            background-position: center 25%;
            height: auto;
        }
    
        padding-top: 11rem;

            @include media-breakpoint-up(sm){
                padding-top:5rem;
            }
            @include media-breakpoint-up(xl){
                padding-top:8rem;
            }

    &>.container {
        display: flex;
        flex-direction: column;

        .titulo {
            text-align: center;
            text-shadow: 2px 1px 2px rgba(255, 253, 253, 0.59);
    
            @include media-breakpoint-up(lg) {
                width: 70%;
                text-align: left;
                height: 270px;
            }
   
         }

    }

    .titulo {
        text-align: center;
        text-shadow: 2px 1px 2px rgba(255, 253, 253, 0.59);

        @include media-breakpoint-up(lg) {
            width: 70%;
            text-align: left;
            height: 270px;
        }

        

     }

    
}


.quienes_somos{
    margin-top: 1rem;

    .tipo{
        // font-size: 1.5rem; toma el de globals body
        text-align: justify;
       
    }
  
}



.nuestros_servicios{
    background-color: $color-bg-main;
    

       
}
  



.seguridad_estatica_personal{
    padding: 3rem 0;

    
   
    
    
}

