
.section1 {
    margin-top:7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url(../../images/centromonitoreo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;

        @include media-breakpoint-up(sm){
            margin-top: auto;
        }
       
        @include media-breakpoint-up(lg){
            background-position: center 63%;
            height: 50rem;
        }
    
       
    &>.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        text-align: center;
        height: 100%;
        
       div{
        display: flex;
        flex-direction: column;
        
             
            .titulo {
               text-align: center;
               
       
               @include media-breakpoint-up(lg) {
                  
               }
      
            }

            p{
                padding-top: 4rem;
                padding-bottom: 2rem;
                text-align: center;
                margin: auto;

                @include media-breakpoint-up(sm){
                    width: 70%;
                }
            }



       }


    }

       
}

.por_que_elegirnos{
    margin: 14rem 0 25rem;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../../images/imagenes-para-blog-Camaras-de-seguridad-BANNER.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 86% 50%;
    color: white;
    
    &>.container{

        .banner_contador{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
            height: 14rem;
            margin: 0 auto;
            background-color: #902F12;
            transform: translateY(-10rem);
            border-radius: 2rem;

            @include media-breakpoint-up(md) {
               width: 80%;
            }

            .counter{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                width: 14rem;
                height: 10rem;
                font-size: 2rem;
                font-weight: 500;

                @include media-breakpoint-up(sm) {
                    font-size: 4rem;
                 }

                 p{
                    padding-top: 0.3rem;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: #d0b8b8;
                    text-align: center;
                 }
               

            }
        }

        h2{
            text-align: center;
            padding-bottom: 3rem;
            transform: translateY(-3rem);
        }

        .valores{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            justify-content: space-evenly;

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 25rem;
                height: 13rem;
                background-color: rgba(255, 255, 255, 0.786);
                border-radius: 2rem;
                color: black;
                padding: 3rem;
            }
        }

        .know_how{
            margin: 3rem 0 0;
            text-align: justify;

            @include media-breakpoint-up(sm) {
               text-align: left;
            }


        }

        .slider{
            background-color: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
            margin: 0rem auto;
            // transform: translateY(13rem);
            border-radius: 2rem;
            margin: 7rem auto -22rem;

            .swiper {
                // padding: 1rem;
                width: 100%;
                // height: 100%;
                padding-bottom: 5rem;


                .swiper-slide{
                    height: 350px;
                    // width: 100%;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius: 1rem;
                    overflow: hidden;
                }

                img {
                    height: 100%;
                   width: 100%;
                   object-fit: cover;
                   object-position: center center;
                }
              }
            
        }


    }



}


.servicios {

    margin-top: 14rem;

    .container {

        .soluciones {
            text-align: center;
            color: #000;
        }

        .soluciones__grid {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            grid-gap: 2rem;
            margin-top: 6rem;

            @include media-breakpoint-up(md) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 4rem;
            }

          
            .soluciones__grid--servicio {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                box-shadow: 0 0 14px 3px #d9d9d9;
                border-radius: 1rem;
                row-gap: 2rem;
                padding: 3rem;

                h3 {
                    text-align: center;
                }
                
                img {
                    height: 85px;
                    width: auto;
                    margin-bottom: 1rem;
                }
                
                p {
                    text-align: justify;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                                   }

                .btn {

                        @include media-breakpoint-up(sm) {
                        margin-top: auto;
                    }

                    i{
                        margin-right: 0.8rem;
                        
                    }
                }

            }
        }
    }
}
  



.seguridad_estatica_personal{
    padding: 3rem 0;

    
   
    
    
}

